@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

.hero {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
    overflow: hidden;
    font-family: 'Playfair Display', sans-serif;
    background-attachment: fixed; /* Parallax effect */
}

/* Hero content */
.hero-content {
    max-width: 80%;
    margin: 0 auto;
    animation: fadeIn 2s ease-in-out; /* Fade-in animation for hero content */
    z-index: 2; /* Keep the content above the background images */
}

/* Background image layers */
.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.background-layer.visible {
    opacity: 1;
}

/* Hero heading */
.hero h1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Subtle text shadow for emphasis */
    animation: slideIn 1s ease-in-out;
}

.hero-text-container .smaller-heading {
    font-size: 3.3rem; /* Adjust the size of the second <h1> */
    font-weight: 200; /* Optional: Adjust the weight if needed */
    margin-top: 10px;
    text-transform: lowercase;
    margin-bottom: 20px;
}

/* Hero subheading */
/* Hero subheading with dark shadow */
.hero p {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 25px;
    text-transform: lowercase;
    opacity: 0; /* Start invisible */
    animation: fadeIn 2s ease-in-out 0.5s forwards; /* Slight delay for subheading and use 'forwards' to maintain final state */
    text-shadow: 2px 4px 15px rgba(0, 0, 0, 0.9); /* Add a larger, darker shadow */
    color: white; /* Ensures the text color is bright enough */
}


/* Call-to-action button */
.hero .cta-button {
    padding: 15px 30px;
    background-color: #ffeb9a;
    border: none;
    border-radius: 50px;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 2s ease-in-out 1s; /* Button fades in after text */
}

.hero .cta-button:hover {
    background-color: #ff9900; /* Hover effect */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

/* Hero content animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
